@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*pagina extra cxon confirmacion de compra*/
/*animacion.. hacer caja nueva y trasladar el texto */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    background-color: #161616;
    height: 100vh; /*para que ocope tod la altura del navegador*/

}

main{ /*margenes lat para el contenedor principal*/
    margin-left: 20px;
    margin-right: 20px;
}

.container { /*flex para centrar el contenido horizontalmente*/
    display: flex;
    justify-content: center;
    position: relative;
}

.img-01{
    filter: invert(31%) sepia(62%) saturate(1308%) hue-rotate(172deg) brightness(92%) contrast(93%);
}

.container .img-01 {
    position: absolute;
    left: 10px;
    width: 50px;
    height: 50px;
}

.container h1 {
    color:  #0c6ca5;
    text-align: center;
}


.navbar li.selected{
    color:#0c6ca5;
}

li.selected a{
    color:#0c6ca5;
}

.navbar ul{
    list-style-type: none;
    background-color: #161616;
    padding:0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #FFFFFF;
    text-decoration: none;
    padding:15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color: #104A77;
}

.navbar li{
    float: right;
}

ul {
    list-style: none;
}

#acomodar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Integración de las reglas del segundo CSS */

.contenedor { 
    height: 100vh;
    width: 100vw;
    display: flex; /*centrar horizontal*/
    flex-wrap: wrap; /* Para que las cajas se ajusten automáticamente */
    align-items: flex-start; /* Para alinear las cajas al inicio del contenedor */
    justify-content: center;
    position: relative;
}


.tarjeta { /*tiene animacion*/
    height: 250px;
    width: 35vw;
    background-color: rgba(16, 16, 16, 0.8); /* Fondo semi-transparente */
    border-radius: 10px;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* Espacio entre las tarjetas */
    margin-bottom: 10px; /* Espaciado entre las tarjetas */
    z-index: 0; /*coloca tarjetas atras del contenido*/
    text-align: left;
    margin-top: -20px;
    /*agrego aca la caja para la animacion */

} 
.contenido {
  position: relative;
  z-index: 2; /* Z-index para el contenido de la tarjeta */
}

.tarjeta:last-child {
    margin-bottom: 0;
}

.tarjeta img {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde arriba según sea necesario */
    left: 10px; 
    width: 80px; /* Tamaño fijo para los logos */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 10px; /* Espacio inferior para separar el logo del texto */
}

.cover {
    position: absolute; /* Posición absoluta para que la capa se superponga a la tarjeta */
    top: 0;
    left: 0;
    height: 100%; /* Tamaño igual al de la tarjeta */
    width: 100%; /* Tamaño igual al de la tarjeta */
    background-color: #FFFFFF; /* Color de fondo para cubrir la animación */
    border-radius: 10%; /* Borde redondeado igual al de la tarjeta */
    z-index: 2; /* Asegura que la capa esté por encima de la animación */
}
.cover {
    position: absolute; /* Posición absoluta para que la capa se superponga a la tarjeta */
    top: 0;
    left: 0;
    height: 100%; /* Tamaño igual al de la tarjeta */
    width: 100%; /* Tamaño igual al de la tarjeta */
    background-color: #501d23; /* Color de fondo para cubrir la animación */
    border-radius: 10%; /* Borde redondeado igual al de la tarjeta */
    z-index: 2; /* Asegura que la capa esté por encima de la animación */
}

/* Ajustar el tamaño del texto */
.tarjeta h3,
.tarjeta p {
    margin-left: 70px; /* Ajusta el margen según sea necesario */
    font-size: 10px; /* Puedes ajustar este valor según sea necesario */
    padding: 8px; /* Espacio interno del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-radius: 5px; /* Bordes redondeados */
    color: white; /* Color del texto */
    position: relative; /* Para ajustar el z-index */
    z-index: 2; /* Colocar el texto por encima del fondo */
}


/* Aumentar el espacio interno */
.tarjeta h3,
.tarjeta p {
    padding: 4; /* Añade espacio alrededor del texto */
}

/* Agregar un fondo semitransparente */
.tarjeta h3,
.tarjeta p { /*tarjetas que dicen el titulo del plan*/
    background-color: rgba(0, 0, 0, 1); /* Fondo semitransparente */
    border-radius: 5px; /* Añade bordes redondeados */
    color: white; /* Texto en color blanco para mayor contraste */
    z-index: 2;
    
}

.tarjeta ul {
    margin-top: 10px; /* Ajusta el margen según sea necesario */
    margin-left: 70px; /* Ajusta el margen según sea necesario */
    z-index: 2;
}
.boton-seleccionar {
    position: absolute;
    bottom: 10px; /* Ajusta la distancia desde abajo según sea necesario */
    left: 50%; /* Centra el botón horizontalmente */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px;
    background-color: #0c6ca5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}
.tarjeta::before {
    content: "";
    position: absolute;
    height: 900px;
    width: 900px;
    background-image: conic-gradient(#0c14a5, transparent 120deg);
    animation: rotar 4s linear infinite;
    z-index: 1; /*aniamciones por encima del contenido*/
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.tarjeta::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #101010;
    border-radius: 10px;
    box-shadow: inset 16px 14px 20px #0000008c;
    z-index: -1; /*asegura q esse detras del contenido*/
}

.container .img-01 {
    filter: brightness(0) saturate(100%);
    filter: invert(29%) sepia(82%) saturate(1073%) hue-rotate(173deg) brightness(95%) contrast(92%);
} 
.tarjeta {
    position: relative;
}

.tarjeta img {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde arriba según sea necesario */
    left: 10px; /* Ajusta la distancia desde la izquierda según sea necesario */
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.tarjeta h3 { /*tarjeta de los TITULOS*/
    position: absolute;
    margin-left: 100px; /* Ajusta la distancia desde la izquierda según sea necesario */
    left: -10px; /* Ajusta la distancia desde la izquierda según sea necesario */
    top: 70px; /* Ajusta la distancia desde arriba según sea necesario */
    width: calc(100% - 160px); /* Ajusta el ancho según sea necesario */
    font-size: 16px;
    margin-top: -50px;
}

.tarjeta ul { /*la tarjeta con las OPCIONES de cada plan*/
    margin-top: 60px; /* Ajusta la distancia desde arriba según sea necesario */
    margin-left: -5px;
    padding-left: 20px; /* Ajusta el padding izquierdo según sea necesario */
    background-color: #00000000; /* Color de fondo deseado para la lista */
    padding: 20px; /* Espacio interno para separar el contenido del borde */
    border-radius: 5px; /* Bordes redondeados para la lista */
    color: #fff; /* Cambia el color de la fuente */
    width: calc(50% - 20px); /* Ajusta el ancho según sea necesario */
}

.tarjeta h3, .tarjeta .planes {
    right: 50%px;
}

.caja-encima {
    position: absolute; /* Coloca la caja encima de las tarjetas */
    top: 0;
    left: 0;
    width: 100%; /* O el ancho deseado */
    height: 100px; /* O la altura deseada */
    background-color: rgba(255, 0, 0, 0.5); /* Color de fondo semitransparente */
    z-index: 2; /* Asegura que la caja esté por encima del contenido de las tarjetas */
}
