@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

nav{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    height: 85px;
    padding: 5px 10%;
}

body{
    margin: 0px;
    background-image: url(https://cdn.pixabay.com/photo/2015/02/06/01/14/wallpaper-625623_960_720.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
}

main{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color :purple;
}

h1{
    text-align: center;
    color: purple;
}